In [43]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key = g_key)

In [44]:
# Load the csv exported in WeatherPy to a DataFrame

output_data_file = "../WeatherPy/output_data/weather_data.csv"

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.8000,-68.3000,51.93,96,100,6.31,AR,1584241200
1,Butaritari,3.0707,172.7902,83.88,74,0,11.79,KI,1584241200
2,Praia,14.9215,-23.5087,71.62,79,0,11.50,CV,1584241200
3,Puerto del Rosario,28.5004,-13.8627,58.62,77,0,10.40,ES,1584241200
4,Avarua,-21.2078,-159.7750,83.95,67,8,6.15,CK,1584241200
...,...,...,...,...,...,...,...,...,...
558,Aden,12.7794,45.0367,74.97,77,80,5.99,YE,1584241200
559,Richards Bay,-28.7830,32.0377,77.85,85,54,10.98,ZA,1584241200
560,Beira,-19.8436,34.8389,77.18,83,0,7.81,MZ,1584241200
561,Chitral,35.8462,71.7858,17.67,42,0,8.86,PK,1584241200
562,Ketchikan,55.3422,-131.6461,29.73,82,0,2.98,US,1584241200

In [45]:
# Humidity Heatmap

# Use the Lat and Lng as locations and humidity as the weight
weather_data_df = weather_data_df.dropna()
humidity = weather_data_df["Humidity"].astype(float)
locations = weather_data_df[["Latitude", "Longitude"]].astype(float)

# Add heatmap layer to map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(weather_data_df["Humidity"]),
                                 point_radius = 2)

# Display the heatmap
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Create new DataFrame fitting weather criteria

filtered_weather_df = weather_data_df

# Narrow down the cities to fit weather conditions

# A max temperature lower than 80 degrees but higher than 70
filtered_weather_df = filtered_weather_df.loc[(filtered_weather_df["Max Temp"] < 80) & (filtered_weather_df["Max Temp"] > 70)]

# Wind speed less than 10 mph
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Wind Speed"] < 10]

# Zero cloudiness
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Cloudiness"] == 0]

# Drop any rows with null values
filtered_weather_df = filtered_weather_df.dropna()

# Display DataFrame
filtered_weather_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
25,Aracataca,10.5918,-74.1898,78.17,56,0,3.53,CO,1584241200
307,Portmore,17.9702,-76.8672,74.12,90,0,4.47,JM,1584241200
382,Kopong,-24.4833,25.8833,70.12,47,0,0.89,BW,1584241200
502,Douentza,14.9951,-2.9517,72.16,14,0,4.68,ML,1584241200
543,Camapuã,-19.5314,-54.0439,73.67,83,0,7.25,BR,1584241200
560,Beira,-19.8436,34.8389,77.18,83,0,7.81,MZ,1584241200

In [47]:
# Hotel Map

# Store into variable named hotel_df

hotel_df = filtered_weather_df

# Set parameters to search for hotels with 5000 meters
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    # Get lat, lng from DataFrame
    lat = row["Latitude"]
    lng = row["Longitude"]

    # Change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # Extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 25: Aracataca.
Closest hotel is Hospedaje El Porvenir.
------------
Retrieving Results for Index 307: Portmore.
Closest hotel is Grand Port Royal Hotel Marina & Spa.
------------
Retrieving Results for Index 382: Kopong.
Closest hotel is Kopong Guest House.
------------
Retrieving Results for Index 502: Douentza.
Closest hotel is Ogomono Doumbo.
------------
Retrieving Results for Index 543: Camapuã.
Closest hotel is Comercial Estrela.
------------
Retrieving Results for Index 560: Beira.
Closest hotel is Beira Terrace Hotel.
------------

In [48]:
# Store the first hotel result into a DataFrame
hotel_df.to_csv('hotel_export.csv')
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
25,Aracataca,10.5918,-74.1898,78.17,56,0,3.53,CO,1584241200,Hospedaje El Porvenir
307,Portmore,17.9702,-76.8672,74.12,90,0,4.47,JM,1584241200,Grand Port Royal Hotel Marina & Spa
382,Kopong,-24.4833,25.8833,70.12,47,0,0.89,BW,1584241200,Kopong Guest House
502,Douentza,14.9951,-2.9517,72.16,14,0,4.68,ML,1584241200,Ogomono Doumbo
543,Camapuã,-19.5314,-54.0439,73.67,83,0,7.25,BR,1584241200,Comercial Estrela
560,Beira,-19.8436,34.8389,77.18,83,0,7.81,MZ,1584241200,Beira Terrace Hotel

In [49]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

# Assign the marker layer to a variable
markers = gmaps.marker_layer(
    locations,
    info_box_content = hotel_info
)

# Create hotel symbol layer
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
    )

# Add the layer to the map and display map
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))